@import "../../variables/global";

$panel-border-color: $base-gray-dark;
$panel-body-padding: 20px;

// header footer 上线边距
$panel-vertical: 10px;
$panel-horizontal: 18px;

$panel-info: (
        default: (
                bg-color: $base-black
        )
);

$panel-lg: (
        title-size: 20px,
        lh: 30px
);

$panel-md: (
        title-size: 14px,
        lh: 24px
);

$panel-sm: (
        title-size: 12px,
        lh: 24px
);