@import "compass/css3";
@import "compass/utilities";
@import "./mixins/utils";
@import "variables/global";

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 16px;
  color: $base-black;
}

.inline-block {
  @include inline-block;
}

.clearfix {
  @include clearfix;
}

.icon {
  width: 16px; height: 16px;
  fill: currentColor;
  overflow: hidden;
  vertical-align: -0.15em;
}

.text-center {
  text-align: center;
}

.pull-right {
  @include float-right;
}

.pull-left {
  @include float-left;
}

.features-spacing-bottom {
  margin-bottom: $features-spacing;
}

.component-spacing-bottom {
  margin-bottom: $component-spacing;
}

.disabled {
  @include disabled;
}