@import "compass/css3";
@import "compass/utilities";
@import "variables/global";

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 16px;
}

.inline-block {
  @include inline-block;
}

.clearfix {
  @include clearfix;
}

.icon {
  width: 16px; height: 16px;
  fill: currentColor;
  overflow: hidden;
  vertical-align: -0.15em;
}

.pull-right {
  @include float-right;
}

.pull-left {
  @include float-left;
}