extends common/layout
block section
    include includes/iconfont
    include includes/button
    include includes/checkbox
    include includes/msg
    include includes/select
    include includes/input
    include includes/tag
    include includes/notice
    include includes/pagination
    include includes/panel
    include includes/table
    include includes/modal
    :markdown
        [TOC]
