extends common/layout
block section
    include brand/menu
    include brand/content-header
    include brand/filter
    include brand/echarts
    include includes/iconfont
    include includes/button
    include includes/checkbox
    include includes/msg
    include includes/select
    include includes/input
    include includes/tag
    include includes/notice
    include includes/badge
    include includes/pagination
    include includes/tab
    include includes/panel
    include includes/table
    include includes/modal
    :markdown
        [TOC]
