
// 按钮

@mixin btn-skin($background, $border, $text-color) {
  @if $background != null {
    background-color: $background;
  }

  border-width: 1px;
  border-style: solid;
  @if($border != null) {
    border-color: $border;
  } @else {
    border-color: transparent;
  }

  color: $text-color;
  label{
    span:before {
      color: $text-color;
    }
  }
}
