@import "../../variables/global";

// 按钮间距
$btn-spacing: 12px;

// 通用尺寸
$btn-font-size-base: $font-size-base;
$btn-padding-vertical: 8px;
$btn-padding-horizontal: 18px;
$btn-line-height: 12px;
$btn-border-radius: $border-radius;


// 尺寸 内边距(vertical, horizontal) 字体大小(fz) 行高(lh)
$btn-md: (
        vertical: $btn-padding-vertical,
        horizontal: $btn-padding-horizontal,
        fz: $btn-font-size-base,
        lh: $btn-line-height
);

$btn-lg: (
        vertical: 10px,
        horizontal: 20px,
        fz: $btn-font-size-base,
        lh: $btn-line-height
);

$btn-sm: (
        vertical: 5px,
        horizontal: 12px,
        fz: $btn-font-size-base,
        lh: $btn-line-height
);

// 皮肤 背景色(bg-color) 边框色(bd-color) 字体颜色(ft-color)
$btn-primary: (
        default: (
                bg-color: $base-blue,
                bd-color: $base-blue,
                ft-color: $base-withe
        ),
        hover: (
                bg-color: $base-blue-darker-dark,
                bd-color: $base-blue-darker-dark,
                ft-color: $base-withe
        )
);

$btn-info: (
        default: (
                bg-color: $base-withe,
                bd-color: $base-gray-dark,
                ft-color: $base-black
        ),
        hover: (
                bg-color: $base-gray,
                bd-color: $base-gray-dark,
                ft-color: $base-black
        )
);

$btn-secondary: (
        default: (
                bg-color: $base-gray,
                bd-color: $base-gray-dark,
                ft-color: $base-black
        ),
        hover: (
                bg-color: $base-gray-dark,
                bd-color: $base-gray-dark,
                ft-color: $base-black
        )
);

// 没有定义hover 统一加深 5%
$btn-success: (
        default: (
                bg-color: $base-green,
                bd-color: $base-green,
                ft-color: $base-withe
        )
);

$btn-warn: (
        default: (
                bg-color: $base-orange,
                bd-color: $base-orange,
                ft-color: $base-withe
        )
);


$btn-danger:(
        default: (
                bg-color: $base-red,
                bd-color: $base-red,
                ft-color: $base-withe
        )
);

$btn-link: (
        default: (
                bg-color: transparent,
                bd-color: transparent,
                ft-color: $base-black
        ),
        hover: (
                bg-color: transparent,
                bd-color: transparent,
                ft-color: $base-blue
        )
);