
@import "compass/css3";

@import "variables";
@import "../../mixins/utils";

$msg-type: (info, $msg-info),
        (secondary, $msg-secondary),
        (success, $msg-success),
        (warn, $msg-warn),
        (error, $msg-error);

$msg-size: (sm, $msg-sm),
        (lg, $msg-lg);

.msg, .msg-box{
  position: relative;
  line-height: $msg-line-height;
  font-size: $msg-font-size;
  color: $base-black;

  .tip {
    @include inline-block;
    font-weight: 700;
    // 占位
    width: $icon-font-size;
    vertical-align: middle;
    margin-right: $msg-padding-horizontal;
  }

  &.msg-close {
    padding-right: $msg-right-spacing;
    .close {
      position: absolute;
      right: ($msg-right-spacing - $icon-font-size) / 2;
      top: 50%;
      margin-top: -$msg-line-height / 2;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      @include user-select-none;
    }
  }
}

.msg-box {
  display: block;
  padding: $msg-padding-vertical $msg-padding-horizontal;
  @include round-box(null, $msg-border-radius);
}

@each $type, $obj in $msg-size {
  .msg.msg-#{$type}, .msg-box.msg-#{$type} {
    font-size: map_get($obj, fz);
  }
}


@each $type, $obj in $msg-type {
  $default: map_get($obj, default);
  // block 有边框，背景
  .msg-box.msg-#{$type} {
    border-color: map_get($default, bd-color);
    background-color: map_get($default, bg-color);
  }

  .msg.msg-#{$type}, .msg-box.msg-#{$type} {
    color: map_get($default, ft-color);

    @include disabled();
  }
}
