@import "compass/css3";
@import "../variables/global";

$menu-icon-size: 18px;
$menu-icon-space: 20px;

$menu-lh: 30px;

$menu-active-border-width: 4px;

.menu {
  background-color: $base-withe;
  color: $base-black;
  .menu-title {
    font-size: 14px;
    line-height: $menu-lh;
    height: $menu-lh;
    overflow: hidden;
    cursor: pointer;

    >span {
      @include word-break;
    }

    .icon {
      width: $menu-icon-size;
      height: $menu-icon-size;
      margin-right: $menu-icon-space;
      margin-left: $menu-icon-space - $menu-active-border-width;
    }
  }

  > ul {
    padding: 10px 0;
    border-left-width: $menu-active-border-width;
    border-style: solid;
    border-color: transparent;
    > li {
      cursor: pointer;
      display: none;
      line-height: $menu-lh;
      font-size: $font-size-base;
      height: $menu-lh;
      overflow: hidden;
      > a{
        display: block;
        @include word-break;
        padding-left: $menu-icon-space * 2 + $menu-icon-size;
      }
    }

    &.current {
      border-color: $base-blue;
    }

    &.active {
      background-color: $base-gray;

      .menu-title {
        .icon {
          color: $base-blue;
        }
      }

      > li {
        display: block;
        color: $base-black;
        &.active {
          color: $base-blue;
        }

        a {
          color: $base-black;
          text-decoration: none;
        }

        &.active {
          a {
            color: $base-blue;
          }
        }
      }
    }
  }
}