.doc-section
    .markdown-body
        :markdown
            ##Badge
.doc-section
    .markdown-body
        :markdown
            ###类型：
            - `badge`
    .example
        button.btn.btn-primary
            |Button
            span.badge 23
        button.btn.btn-success
            |Button
            span.badge 23
    .highlight
        pre
            code.lang-html
                :highlight
                    <button class="btn btn-primary">Button<span class="badge">23</span></button>
                    <button class="btn btn-success">Button<span class="badge">23</span></button>
