.doc-section
    .markdown-body
        :markdown
            ##按钮
.doc-section
    .example
        .example-block
            a.btn.btn-primary(type="button") 一般
            button.btn.btn-success(type="button") 成功
            button.btn.btn-info(type="button") 信息
            button.btn.btn-secondary 次要
            button.btn.btn-warn(type="button") 警告
            button.btn.btn-danger(type="button") 危险
            button.btn.btn-danger.disabled(type="button") 禁止
            button.btn.btn-link(role="button") 链接按钮
        .example-block
            button.btn.btn-primary.btn-sm(type="button") 一般
            button.btn.btn-success.btn-sm(type="button") 成功
            button.btn.btn-info.btn-sm(type="button") 信息
            button.btn.btn-secondary.btn-sm 次要
            button.btn.btn-warn.btn-sm(type="button") 警告
            button.btn.btn-danger.btn-sm(type="button") 危险
            button.btn.btn-danger.btn-sm(type="button" disabled='') 禁止
        .example-block
            button.btn.btn-success.btn-lg(type="button") 成功
            button.btn.btn-success.btn-lg.disabled(type="button") Loading...
    .highlight

.doc-section
    .markdown-body
        :markdown
            ### 按钮组
    .example
        .example-block
            .btn-group
                .btn.btn-info 一号
                .btn.btn-info 二号
                .btn.btn-info 3号
                .btn.btn-info 4号
        .example-block
            .btn-group.btn-primary
                .btn.btn-info.btn-single 日
                .btn.btn-info.btn-single 周
                .btn.btn-info.btn-single 月
        .example-block
            .btn-group.btn-spacing
                .btn-group
                    .btn.btn-info 全部
                    .btn.btn-info.btn-single
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-xiala")
                .btn-group
                    .btn.btn-info 全部撤销
                    .btn.btn-info.btn-single
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-xiala")
        .example-block
            .btn-group.btn-danger
                .btn.btn-info 一号
                .btn.btn-info 二号
                .btn.btn-info 3号
                .btn.btn-info 4号
        .example-block
            .btn-group.btn-primary
                .btn.btn-info 一号
                .btn.btn-info.active 二号
                .btn.btn-info 3号
                .btn.btn-info.disabled 4号
        .example-block
            .btn-group.btn-spacing
                .btn.btn-primary 一号
                .btn.btn-primary.disabled 二号
                .btn.btn-warn 3号
                .btn.btn-primary 4号
    .highlight

