.doc-section
    .markdown-body
        :markdown
            ##CSS符号
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `arrow-up-XXX`
            - `arrow-down-XXX`
            - `arrow-left-XXX`
            - `arrow-right-XXX`
    .example
        .arrow-up-warn
        .arrow-left-warn
        .arrow-down-warn
        .arrow-right-warn
        span.arrow-down-success
    .highlight
        pre
            code.lang-html
                :highlight
                    <div class="arrow-up-warn"></div>
                    <div class="arrow-left-warn"></div>
                    <div class="arrow-down-warn"></div>
                    <div class="arrow-right-warn"></div>
                    <span class="arrow-down-success"></span>
