.doc-section
    .markdown-body
        :markdown
            ##复选
    .example
        .example-block
            label.checkbox
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquare")
                | 未选中
            label.checkbox.checked
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquarecheckfill")
                | 选中
            label.checkbox.half-checked
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-yuanjiaojuxing")
                |半选
        .example-block
            label.checkbox.checkbox-md
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquare")
                | 未选中
            label.checkbox.checked.checkbox-md
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquarecheckfill")
                | 选中
            label.checkbox.half-checked.checkbox-md
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-yuanjiaojuxing")
                | 半选
        .example-block
            label.checkbox.checkbox-lg
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquare")
                | 未选中
            label.checkbox.checked.checkbox-lg
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-iconfonticonfontsquarecheckfill")
                | 选中
            label.checkbox.half-checked.checkbox-lg
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-yuanjiaojuxing")
                | 半选
    .highlight
