.doc-section
    .markdown-body
        :markdown
            ##复选
    .example
        .example-block
            label.checkbox
                span 未选中
            label.checkbox.checked
                span 选中
            label.checkbox.half-checked
                span 半选
        .example-block
            label.checkbox.checkbox-md
                span 未选中
            label.checkbox.checked.checkbox-md
                span 选中
            label.checkbox.half-checked.checkbox-md
                span 半选
        .example-block
            label.checkbox.checkbox-lg
                span 未选中
            label.checkbox.checked.checkbox-lg
                span 选中
            label.checkbox.half-checked.checkbox-lg
                span 半选
    .highlight
