.doc-section
    .markdown-body
        :markdown
            ##iconfont
.doc-section
    .example
        .example-block
            -var types = ["icon-xiala-copy", "icon-xiala-copy-copy", "icon-zuoshouqi","icon-ttpodicon","icon-mima","icon-close","icon-zhanghu","icon-xiaoxi","icon-zhengque","icon-jiantou","icon-gengduo","icon-iconfonticonfontsquare","icon-iconfonticonfontsquarecheckfill","icon-add","icon-dagou","icon-pinpaiguanhuai","icon-guanli","icon-bingtuxian","icon-0","icon-fenxiao","icon-xiala","icon-denglu","icon-scatter","icon-tishi","icon-rizhi","icon-dagou1","icon-youfanye","icon-shangxia","icon-iconfontshengji","icon-dianpu","icon-distribute","icon-qushi1","icon-xiangqing","icon-xiangqing1","icon-zuola","icon-cuowu","icon-Ankerwebicon-","icon-shangxia1","icon-channel","icon-yuanjiaojuxing",]
            each item in types
                <i class="iconfont #{item}"></i>
    .highlight