

.doc-section
    .markdown-body
        :markdown
            ##输入框
.doc-section
    .example
        .example-block
            input.input
        .example-block
            <input class="input" placeholder="搜索你感兴趣的内容…"/>
            button.btn.btn-primary 搜索
    .highlight