.doc-section
    .markdown-body
        :markdown
            ##标签
    .example
        span.label.label-default 默认
        span.label.label-primary 一般
        span.label.label-success 成功
        span.label.label-info.label-sm 信息
        span.label.label-warning 警告
        span.label.label-danger.label-lg 危险
    .highlight
        pre
            code.lang-html
                :highlight
                    <span class="label label-default">默认</span>
                    <span class="label label-primary">一般</span>
                    <span class="label label-success">成功</span>
                    <span class="label label-info label-sm">信息</span>
                    <span class="label label-warning">警告</span>
                    <span class="label label-danger label-lg">危险</span>