.doc-section
    .markdown-body
        :markdown
            ##Loading
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `loading`
            - `loading-sm`
    .example
        .loading
            .spinner
                .one
                .two
                .three
                .four
                .five
                .six
        .loading.loading-sm
            .spinner
                .one
                .two
                .three
                .four
                .five
                .six
    .highlight
        pre
            code.lang-html
                :highlight
                    <div class="loading">
                        <div class="spiner">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                            <div class="four"></div>
                            <div class="five"></div>
                            <div class="six"></div>
                        </div>
                    </div>
                     <div class="loading loading-sm">
                        <div class="spiner">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                            <div class="four"></div>
                            <div class="five"></div>
                            <div class="six"></div>
                        </div>
                    </div>

