.doc-section
    .markdown-body
        :markdown
            ##多媒体
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `左右排版`
            - `上下排版`
    .example
        .media
            .media-left.pull-left
                img(src="http://placehold.it/350x150" alt="")
            .media-body
                h4.media-heading media title
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo temporibus ullam, odio voluptates facilis nemo doloremque dicta eveniet, aliquid unde, asperiores modi! Officiis quibusdam omnis, molestiae optio doloremque deleniti aut.
        .media
            .media-right.pull-right
                img(src="http://placehold.it/350x150" alt="")
            .media-body
                h4.media-heading media title
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo temporibus ullam, odio voluptates facilis nemo doloremque dicta eveniet, aliquid unde, asperiores modi! Officiis quibusdam omnis, molestiae optio doloremque deleniti aut.
        .media
            .media-top
                img(src="http://placehold.it/350x150" alt="")
            .media-body
                h4.media-heading media title
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo temporibus ullam, odio voluptates facilis nemo doloremque dicta eveniet, aliquid unde, asperiores modi! Officiis quibusdam omnis, molestiae optio doloremque deleniti aut.


    .highlight
        pre
            code.lang-html
                :highlight
                    <div class="media">
                        <div class="media-left pull-left">
                            <img src="" alt="">
                        </div>
                        <div class="meida-body">
                            <h4 class="media-heading"> Meida title </h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum modi recusandae aspernatur ea quod, nemo, asperiores earum, unde fugit beatae ipsam est quis in explicabo eligendi tempora iure a magni!</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-right pull-right">
                            <img src="" alt="">
                        </div>
                        <div class="meida-body">
                            <h4 class="media-heading"> Meida title </h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum modi recusandae aspernatur ea quod, nemo, asperiores earum, unde fugit beatae ipsam est quis in explicabo eligendi tempora iure a magni!</p>
                        </div>
                    </div>
                     <div class="media">
                        <div class="media-top">
                            <img src="" alt="">
                        </div>
                        <div class="meida-body">
                            <h4 class="media-heading"> Meida title </h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum modi recusandae aspernatur ea quod, nemo, asperiores earum, unde fugit beatae ipsam est quis in explicabo eligendi tempora iure a magni!</p>
                        </div>
                    </div>


