.doc-section
    .markdown-body
        :markdown
            ##子窗口
    .example
        .modal.page
            .modal-form
                .title-bar
                    .title 单页面
                    .del-icon X
                .content
                    iframe
                .button-pane
                    button.btn.btn-primary OK
                    button.btn.btn-link Cancel
    .highlight