.doc-section
    .markdown-body
        :markdown
            ##提示建议
.doc-section
    .example
        .example-inline
            span.msg.msg-success 成功
            span.msg.msg-info 信息
            span.msg.msg-warn 警告
            span.msg.msg-error 错误
        .example-block
            .msg.msg-box.msg-success msg-success
        .example-block
            .msg.msg-box.msg-info msg-info
        .example-block
            .msg.msg-box.msg-warn.msg-close
                .tip
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#icon-cuowu")
                | msg-warn
                .close
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#icon-close")
        .example-block
            .msg.msg-box.msg-error
                .tip
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#icon-Ankerwebicon-")
                | msg-danger
        .example-block
            .msg.msg-box.msg-error.msg-close
                .tip
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#icon-Ankerwebicon-")
                | 【周三课程】大助小卖家双11销量的无线活动 讲师：姜云宝 9月30日 20::00 【听课入口】 上方“快车学堂”-->"直播"-->"进入课堂"【周三课程】大助小卖家双11销量的无线活动 讲师：姜云宝 9月30日 20::00 【听课入口】 上方“快车学堂”-->"直播"-->"进入课堂"
                .close
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#icon-close")
    .highlight
