.doc-section
    .markdown-body
        :markdown
            ##消息
.doc-section
    .example
        .notice
            svg.icon(aria-hidden="true")
                use(xlink:href="#icon-xiaoxi")
            .badge 23
        .notice.notice-lg
            svg.icon(aria-hidden="true")
                use(xlink:href="#icon-xiaoxi")
            .badge 99+
        .notice.notice-md
            svg.icon(aria-hidden="true")
                use(xlink:href="#icon-xiaoxi")
            .badge 99+
    .highlight