.doc-section
    .markdown-body
        :markdown
            ##消息
.doc-section
    .example
        .notice
            .icon
                .iconfont.icon-xiaoxi
            .badge 23
        .notice.notice-lg
            .icon
                .iconfont.icon-xiaoxi
            .badge 99+
        .notice.notice-md
            .icon
                .iconfont.icon-xiaoxi
            .badge 99+
    .highlight