.doc-section
    .markdown-body
        :markdown
            ##分页
    .example
        .pagination
            | 显示行数：
            .select
                select
                    option 10
                    option 20
                    option 30
                    option 40
                    option 50
                    option 100
                    option 200
                .icon
                    i.iconfont.icon-shangxia
            | &nbsp;&nbsp;转到：
            input.input.input-single
            | &nbsp;&nbsp;第2页，共20页 &nbsp;
            .btn-group.inline-block
                .btn.btn-info.btn-single
                    i.iconfont.icon-xiala-copy
                .btn.btn-info.btn-single
                    i.iconfont.icon-xiala-copy-copy
    .highlight