.doc-section
    .markdown-body
        :markdown
            ##Panel
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `默认`
            - `包含 head`
            - `包含 footer`
    .example
        .panel.panel-primary
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quia aliquid sequi officiis iste quae dignissimos, corporis sed odio perferendis praesentium iure consequuntur facere ad nihil quo omnis, autem dicta.
        .panel.panel-success
            .panel-heading
                h3.panel-title Panel title
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-danger
            .panel-heading
                h3.panel-title Panel title
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-warn
            .panel-heading
                h3.panel-title Panel title
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-warn
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique distinctio accusantium reprehenderit illo aut blanditiis voluptatibus, incidunt tempore magni minus dolores, in sit cumque. Beatae inventore est, porro rerum quis.
            .panel-footer
                .panel-title panel footer
    .highlight
        pre
            code.lang-html
                :highlight
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima autem porro sit soluta ad quasi voluptate dolore accusantium natus suscipit consectetur sint nihil asperiores eos, cumque illum, amet provident et!
                         </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima autem porro sit soluta ad quasi voluptate dolore accusantium natus suscipit consectetur sint nihil asperiores eos, cumque illum, amet provident et!
                         </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima autem porro sit soluta ad quasi voluptate dolore accusantium natus suscipit consectetur sint nihil asperiores eos, cumque illum, amet provident et!
                         </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima autem porro sit soluta ad quasi voluptate dolore accusantium natus suscipit consectetur sint nihil asperiores eos, cumque illum, amet provident et!
                         </div>
                    </div>
                    <div class="panel panel-warn">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima autem porro sit soluta ad quasi voluptate dolore accusantium natus suscipit consectetur sint nihil asperiores eos, cumque illum, amet provident et!
                        </div>
                        <div class="panel-footer">
                            <div class="panel-title">Panel footer</div>
                        </div>
                    </div>

