.doc-section
    .markdown-body
        :markdown
            ##面板
    .example
        .panel.panel-info
            .panel-heading
                .panel-title Chanel（香奈儿）
                .tag.tag-sm.tag-danger 明星企业
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quia aliquid sequi officiis iste quae dignissimos, corporis sed odio perferendis praesentium iure consequuntur facere ad nihil quo omnis, autem dicta.
        .panel.panel-success
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-danger
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-warn
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-secondary
            .panel-heading
                .panel-title Chanel（香奈儿）
                .tag.tag-sm.tag-danger 明星企业
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-primary
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-info
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quia aliquid sequi officiis iste quae dignissimos, corporis sed odio perferendis praesentium iure consequuntur facere ad nihil quo omnis, autem dicta.
        .panel.panel-line-success
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-danger
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-warn
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-primary
            .panel-heading
                .panel-title Chanel（香奈儿）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
    .highlight

