.doc-section
    .markdown-body
        :markdown
            ##progress bar
.doc-section
    .example
        .example-block
            .progress
                .progress-bar.progress-primary(style='width: 20%')
        .example-block
            .progress
                .progress-bar.progress-success(style='width: 40%') 40%
        .example-block
            .progress
                .progress-bar.progress-info(style='width: 60%')
        .example-block
            .progress
                .progress-bar.progress-warn(style='width: 80%')
        .example-block
            .progress
                .progress-bar.progress-danger(style='width: 100%')
        .example-block
            .progress
                .progress-bar.progress-danger.progress-stripe(style='width: 100%')
        .example-block
            .progress
                .progress-bar.progress-danger.progress-stripe.active(style='width: 100%')
    .highlight
