.doc-section
    .markdown-body
        :markdown
            ##单选
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `默认`
    .example
        label.radio
            span 未选中
        label.radio.checked
            span 选中
        br
        br
        button#rdoDis 可用/禁用
    .highlight
        pre
            code.lang-html
                :highlight
                    <label class="radio"><span>未选中</span></label>
                    <label class="radio checked"><span>选中</span></label>

