.doc-section
    .markdown-body
        :markdown
            ##下拉框
    .example
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
            ul.select-items
                li.select-item 下拉内容1
                li.select-item 下拉内容2
                li.select-item 下拉内容3
                li.select-item 下拉内容4
                li.select-item 下拉内容5
                li.select-item 下拉内容11
                li.select-item 下拉内容21
                li.select-item 下拉内容31
                li.select-item 下拉内容41
                li.select-item 下拉内容51
                li.select-item 下拉内容111
                li.select-item 下拉内容211
                li.select-item 下拉内容311
                li.select-item 下拉内容411
                li.select-item 下拉内容511
                li.select-item 下拉内容1111
                li.select-item 下拉内容2111
                li.select-item 下拉内容3111
                li.select-item 下拉内容4111
                li.select-item 下拉内容5111
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
        .select
            select
                option 1
                option 2
                option 3
                option 422
            svg.icon(aria-hidden="true")
                use(xlink:href="#icon-shangxia")
    .highlight
