.doc-section
    .markdown-body
        :markdown
            ##下拉框
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `uic-select`
            - `uic-select.select-upper`
    .example.select
        .uic-select
            .select-bar
                span.selected-item 下拉内容
                i.drop-icon.iconfont.icon-select-down
            ul.select-items
                li.select-item 下拉内容1
                li.select-item 下拉内容2
                li.select-item 下拉内容3
                li.select-item 下拉内容4
                li.select-item 下拉内容5
        .uic-select
            .select-bar
                span.selected-item 下拉内容
                i.drop-icon.iconfont.icon-select-down
            ul.select-items
                li.select-item 下拉内容1
                li.select-item 下拉内容2
                li.select-item 下拉内容3
                li.select-item 下拉内容4
                li.select-item 下拉内容5
                li.select-item 下拉内容11
                li.select-item 下拉内容21
                li.select-item 下拉内容31
                li.select-item 下拉内容41
                li.select-item 下拉内容51
                li.select-item 下拉内容111
                li.select-item 下拉内容211
                li.select-item 下拉内容311
                li.select-item 下拉内容411
                li.select-item 下拉内容511
                li.select-item 下拉内容1111
                li.select-item 下拉内容2111
                li.select-item 下拉内容3111
                li.select-item 下拉内容4111
                li.select-item 下拉内容5111
        .uic-select.select-upper
            .select-bar
                span.selected-item 下拉内容
                i.drop-icon.iconfont.icon-select-up
            ul.select-items
                li.select-item 下拉内容1
                li.select-item 下拉内容2
                li.select-item 下拉内容3
                li.select-item 下拉内容4
                li.select-item 下拉内容5
    .highlight
        pre
            code.lang-html
                :highlight
                    <div class="uic-select">
                        <div class="select-bar">
                            <span class="selected-item">下拉内容</span><i class="drop-icon">▼</i>
                        </div>
                        <ul class="select-items">
                            <li class="select-item">下拉内容1</li>
                            <li class="select-item">下拉内容2</li>
                            <li class="select-item">下拉内容3</li>
                            <li class="select-item">下拉内容4</li>
                            <li class="select-item">下拉内容5</li>
                        </ul>
                    </div>

                    >>下拉向上展开
                    <div class="uic-select select-upper">
                        <div class="select-bar">
                            <span class="selected-item">下拉内容</span><i class="drop-icon">▲</i>
                        </div>
                        <ul class="select-items">
                            <li class="select-item">下拉内容1</li>
                            <li class="select-item">下拉内容2</li>
                            <li class="select-item">下拉内容3</li>
                            <li class="select-item">下拉内容4</li>
                            <li class="select-item">下拉内容5</li>
                        </ul>
                    </div>
