.doc-section
    .markdown-body
        :markdown
            ##下拉框
    .example
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
        .select
            .selected-bar
                span.selected-text 下拉内容
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-xiala")
        .select
            select
                option 1
                option 2
                option 3
                option 422
            svg.icon(aria-hidden="true")
                use(xlink:href="#icon-shangxia")
    .highlight
