.doc-section
    .markdown-body
        :markdown
            ##下拉框
    .example
        .select
            .selected-bar
                span.selected-text 下拉内容
                i.iconfont.icon-down
        .select
            .selected-bar
                span.selected-text 下拉内容
                i.iconfont.icon-down
        .select
            .selected-bar
                span.selected-text 下拉内容
                i.iconfont.icon-up
        .select
            select
                option 1
                option 2
                option 3
                option 422
            .icon
                i.iconfont.icon-shangxia
    .highlight
