.doc-section
    .markdown-body
        :markdown
            ##滑块
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `uic-slider`
    .example
        #slider1.uic-slider.type1
        #slider2.uic-slider.type2
    .highlight
        pre
            code.lang-html
                :highlight
                    // 需要第三方控件 ：nouislider.min.js
                    API：http://refreshless.com/nouislider/
                    .type1 .type2 为继承后的子类型
                    <div id="slider1" class="uic-slider type1"></div>
                    <div id="slider2" class="uic-slider type2"></div>
