.doc-section
    .markdown-body
        :markdown
            ##Tab 切换
    .example
        .example-block
            .tab.tab-line-primary.tab-line-lg
                .tab-title
                    .tab-item 全部
                    .tab-item.active 天猫
                    .tab-item
                        | 淘宝
                        span.badge.badge-danger.badge-lg 99+
                    .tab-item 京东
                    .tab-item 亚马逊
                    .tab-item 一号店
                    .tab-item 唯品会
        .example-block
            .tab.tab-line-danger.tab-line-md
                .tab-title
                    .tab-item 全部
                    .tab-item.active
                        | 天猫
                    .tab-item
                        | 淘宝
                        span.badge.badge-danger.badge-md 1
                    .tab-item 京东
                    .tab-item 亚马逊
                    .tab-item 一号店
                    .tab-item 唯品会
        .example-block
            .tab.tab-line-warn.tab-line-sm
                .tab-title
                    .tab-item 全部
                    .tab-item.active 天猫
                    .tab-item
                        | 淘宝
                        span.badge.badge-danger.badge-sm 87
                    .tab-item 京东
                    .tab-item 亚马逊
                    .tab-item 一号店
                    .tab-item 唯品会
        .example-block
            .tab.tab-border.tab-md
                .tab-title
                    .tab-item.active Tab1
                    .tab-item Tab2
                    .tab-item Tab3
                    .line
                .tab-content
                    .tab-pane.active 韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  $韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
        .example-block
            .tab.tab-border
                ul.tab-title
                    .tab-item.tab-item-bold.active Tab1
                    .tab-item.tab-item-bold Tab2
                    .tab-item.tab-item-bold Tab3
                .tab-content
                    .tab-pane.active  韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  $韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  $韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
        .example-block
            .tab.tab-bordernon
                ul.tab-title
                    .tab-item.tab-item-bold.active Tab1
                    .tab-item.tab-item-bold Tab2
                    .tab-item.tab-item-bold Tab3
                .tab-content
                    .tab-pane.active  韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  $韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
                    .tab-pane  $韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流韩版毛线围巾女冬季韩国学生百搭针织长款加厚大红色围巾冬天潮流
    .highlight

