.doc-section
    .markdown-body
        :markdown
            ##表格
    .example
        table.table.border-horizontal.hover-able.even-color.border
            thead
                tr
                    th 表头1
                    th 表头2
                    th 表头3
                    th 表头4
            tbody
                tr
                    td 内容1
                    td 内容2
                    td 内容3
                    td 内容4
                tr
                    td 内容1
                    td 内容2
                    td 内容3
                    td 内容4
                tr
                    td 内容1
                    td 内容2
                    td 内容3
                    td 内容4
                tr
                    td 内容1
                    td 内容2
                    td 内容3
                    td 内容4
                tr
                    td 内容1
                    td 内容2
                    td 内容3
                    td 内容4
    .highlight