.doc-section
    .markdown-body
        :markdown
            ##标签
    .example
        .example-block
            .tag.tag-line-primary 宝贝很赞（123123）
            .tag.tag-line-secondary 宝贝很赞（123123）
            .tag.tag-line-success 宝贝很赞（123123）
            .tag.tag-line-warn 宝贝很赞（123123）
            .tag.tag-line-danger 宝贝很赞（123123）
        .example-block
            .tag.tag-primary.tag-sm 宝贝很赞
            .tag.tag-secondary.tag-sm 宝贝很赞
            .tag.tag-success.tag-sm 宝贝很赞
            .tag.tag-warn.tag-sm 宝贝很赞
            .tag.tag-danger.tag-sm 宝贝很赞
    .highlight
