.doc-section
    .markdown-body
        :markdown
            ##标签
    .example
        .tag.tag-primary 宝贝很赞（123123）
        .tag.tag-secondary 宝贝很赞（123123）
        .tag.tag-success 宝贝很赞（123123）
        .tag.tag-warn 宝贝很赞（123123）
        .tag.tag-danger 宝贝很赞（123123）
    .highlight
