.doc-section
    .markdown-body
        :markdown
            ##排版
.doc-section
    .markdown-body
        :markdown
            ###类型
            - `标题`
            - `段落`
            - `对齐`
    .example
        h1 超级快车 head1
        h2 超级快车 head2
        h3 超级快车 head3
        h4 超级快车 head4
        h5 超级快车 head5
        h6 超级快车 head6
        p.text-left  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus architecto tempore impedit deserunt ab laudantium sequi quisquam aliquid, similique accusamus. Ducimus aliquam perferendis quo dolor impedit veritatis, accusamus quos assumenda.
        p.text-right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus architecto tempore impedit deserunt ab laudantium sequi quisquam aliquid, similique accusamus. Ducimus aliquam perferendis quo dolor impedit veritatis, accusamus quos assumenda.
        p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus architecto tempore impedit deserunt ab laudantium sequi quisquam aliquid, similique accusamus. Ducimus aliquam perferendis quo dolor impedit veritatis, accusamus quos assumenda.
    .highlight
        pre
            code.lang-html
                :highlight
                    <h1>超级快车 head1</h1>
                    <h2>超级快车 head2</h2>
                    <h3>超级快车 head3</h3>
                    <h4>超级快车 head4</h4>
                    <h5>超级快车 head5</h5>
                    <h6>超级快车 head6</h6>
                    <p class="text-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis error iusto neque eveniet impedit, beatae veritatis, alias optio qui itaque, ex placeat doloribus cum blanditiis sit quisquam officia dolorem!</p>
                    <p class="text-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis error iusto neque eveniet impedit, beatae veritatis, alias optio qui itaque, ex placeat doloribus cum blanditiis sit quisquam officia dolorem!</p>
                    <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis error iusto neque eveniet impedit, beatae veritatis, alias optio qui itaque, ex placeat doloribus cum blanditiis sit quisquam officia dolorem!</p>



