.doc-section
    .markdown-body
        :markdown
            ##星云内容面板图
.doc-section
    .example
        .example-block
            .content-header
                .content-title 分销价格异动
                .pull-right
                    .btn-group.btn-spacing
                        .btn.btn-info 导出PDF
                        .btn-group
                            .btn.btn-info 全部
                            .btn.btn-info.btn-single
                                svg.icon(aria-hidden="true")
                                    use(xlink:href="#icon-xiala")
                        .btn-group
                            .btn.btn-info 2017-04-39~2017-05-01
                            .btn.btn-info.btn-single
                                svg.icon(aria-hidden="true")
                                    use(xlink:href="#icon-xiala")
    .highlight