.doc-section
    .markdown-body
        :markdown
            ##星云ECHART
.doc-section
    .example
        .example-block
            #graphCharts(style="height: 300px")
        .example-block
            #pieCharts(style="height: 300px")
    .highlight