.doc-section
    .markdown-body
        :markdown
            ##星云ECHART
.doc-section
    .example
        .example-block
            .charts
                #graphCharts(style="height: 300px")
                .xAxis#xAxis

        .example-block
            #pieCharts(style="height: 300px")
    .highlight