.doc-section
    .markdown-body
        :markdown
            ##星云导航栏
.doc-section
    .example
        .example-block
            .menu
                ul
                    .menu-title
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-pinpaiguanhuai")
                        | 品牌
                    li
                        a 概况
                    li
                        a 排行榜
                    li
                        a 明星产品
                ul
                    .menu-title
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-fenxiao")
                        | 分销
                    li
                        a 店铺列表
                    li
                        a 商品列表
                    li
                        a 价格异动
                ul
                    .menu-title
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-bingtuxian")
                        | 探索
                    li
                        a 品牌演化
                    li
                        a 店铺分析
                    li
                        a 商品分析
                ul
                    .menu-title
                        svg.icon(aria-hidden="true")
                            use(xlink:href="#icon-dianpu")
                        | 店铺分析
                    li
                        a 概况
                    li
                        a 排行榜
    .highlight