@import "../../mixins/utils";

@mixin notice-size($default-size) {
  min-width: $default-size * 3;
  .icon {
    width: $default-size * 2;
    height: $default-size * 2;
  }

  .badge {
    min-width: $font-size-base;
    left: $font-size-base * 2;
    background-color: $notice-badge-bg;
    font-size: $font-size-base;
    margin-left: -$font-size-base /2 - 2 - 2;
    margin-top: -$font-size-base /2 - 2 - 2;
    line-height: $font-size-base;
    @include border-radius($font-size-base);
  }
}