/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/7/27
 */

.doc-section{
  width: 800px;
  margin: 0 auto;
  .example{
    border-radius: 4px 4px 0 0;
  }

  .highlight{
    border-radius: 0 0 4px 4px;
  }
}