/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/9/21
 */

.toc{
  position: fixed;
  top: 20px;
  right: 100px;
}

.toc-tree{
  padding: 0;
  width: 150px;
}

.toc-item{
  list-style: none;
}

.toc-link{
  display: block;
  padding: 4px 8px;
  text-decoration: initial;
}

.toc-link:first-child{
  border-top: 0;
}

.toc-level-3{
  padding-left: 20px;
  font-size: 12px;
  display: none;
}