@import "../../mixins/utils";
@import "variables";

@mixin tag-line-skin($bd, $bg) {
  background-color: $base-withe;

  border-width: 1px;
  border-style: solid;
  @if($bd != null) {
    border-color: $bd;
  } @else {
    border-color: transparent;
  }

  color: $bg;
}

@mixin tag-skin($background, $border, $text-color) {
  @if $background != null {
    background-color: $background;
  }

  border-width: 1px;
  border-style: solid;
  @if($border != null) {
    border-color: $border;
  } @else {
    border-color: transparent;
  }

  color: $text-color;
  label{
    span:before {
      color: $text-color;
    }
  }
}