@import "../../variables/global";

// 皮肤 背景色(bg-color) 边框色(bd-color) 字体颜色(ft-color)
$tag-secondary: (
        default: (
                bd-color: #F2F3F5,
                bg-color: #F2F3F5,
                ft-color: $base-black-light
        )
);

$tag-info:(
  default: (
          bd-color: $base-gray,
          bg-color: $base-black,
          ft-color: $base-black-light
  )
)