@import "compass/css3";

@import "../../mixins/utils";
@import "variables";

$checkbox-size: (lg, $checkbox-lg), (md, $checkbox-md), (sm, $checkbox-sm);

.checkbox {
  @include inline-block;
  @include user-select-none;
  cursor: pointer;

  // 未选中
  > .icon {
    color: $checkbox-color-primary;
    margin-right: 2px;
    background: none;
    width: $font-size-base + 1px;
    height: $font-size-base + 1px;
  }

  @include disabled;
}

// 按钮类型
@each $type, $obj in $checkbox-size {
  .checkbox-#{$type} {
    font-size: map_get($obj, size);
    > .icon {
      width: map_get($obj, size) + 1px;
      height: map_get($obj, size) + 1px;
    }
  }
}